.letter-a {
  transform: rotate(-90deg) translate(17rem) rotate(90deg);
}
.letter-b {
  transform: rotate(-76.7deg) translate(17rem) rotate(76.7deg);
}
.letter-c {
  transform: rotate(-63.4deg) translate(17rem) rotate(63.4deg);
}
.letter-d {
  transform: rotate(-50.1deg) translate(17rem) rotate(50.1deg);
}
.letter-e {
  transform: rotate(-36.8deg) translate(17rem) rotate(36.8deg);
}
.letter-f {
  transform: rotate(-23.5deg) translate(17rem) rotate(23.5deg);
}
.letter-g {
  transform: rotate(-10.2deg) translate(17rem) rotate(10.2deg);
}
.letter-h {
  transform: rotate(3.1deg) translate(17rem) rotate(-3.1deg);
}
.letter-i {
  transform: rotate(16.4deg) translate(17rem) rotate(-16.4deg);
}
.letter-j {
  transform: rotate(29.7deg) translate(17rem) rotate(-29.7deg);
}
.letter-k {
  transform: rotate(43deg) translate(17rem) rotate(-43deg);
}
.letter-l {
  transform: rotate(56.3deg) translate(17rem) rotate(-56.3deg);
}
.letter-m {
  transform: rotate(69.6deg) translate(17rem) rotate(-69.6deg);
}
.letter-n {
  transform: rotate(82.9deg) translate(17rem) rotate(-82.9deg);
}
.letter-ñ {
  transform: rotate(96.2deg) translate(17rem) rotate(-96.2deg);
}
.letter-o {
  transform: rotate(109.5deg) translate(17rem) rotate(-109.5deg);
}
.letter-p {
  transform: rotate(122.8deg) translate(17rem) rotate(-122.8deg);
}
.letter-q {
  transform: rotate(136.1deg) translate(17rem) rotate(-136.1deg);
}
.letter-r {
  transform: rotate(149.4deg) translate(17rem) rotate(-149.4deg);
}
.letter-s {
  transform: rotate(162.7deg) translate(17rem) rotate(-162.7deg);
}
.letter-t {
  transform: rotate(176deg) translate(17rem) rotate(-176deg);
}
.letter-u {
  transform: rotate(189.3deg) translate(17rem) rotate(-189.3deg);
}
.letter-v {
  transform: rotate(202.6deg) translate(17rem) rotate(-202.6deg);
}
.letter-w {
  transform: rotate(215.9deg) translate(17rem) rotate(-215.9deg);
}
.letter-x {
  transform: rotate(229.2deg) translate(17rem) rotate(-229.2deg);
}
.letter-y {
  transform: rotate(242.5deg) translate(17rem) rotate(-242.5deg);
}
.letter-z {
  transform: rotate(255.8deg) translate(17rem) rotate(-255.8deg);
}
